.flexbox-container{
    display:flex;
    width:1500px;
    justify-content: left;
    background-color:#BEBDB8;
    height: 300px;
    border: 3px solid black;
    border-bottom: 5px solid #BEBDB8;
}
.flexbox-pizza{
    width: 1060px;
    margin-top:80px;
    justify-content: center;
    border: 3px solid #BEBDB8;
    background-color:  #BEBDB8;
}
img{
    margin: 100px;
    margin-left: 235px;
    position:absolute;
    border: 3px solid#BEBDB8;
}
h1{
    justify-content: center;
    text-align:center;
}
h2{
    text-align: center;
    text-size-adjust: 0.5;
}

.flexbox-pizza-1{
    min-height: 650px;
    margin-left:   200px;
    text-align: left;
    justify_content: top;
    color: #BEBDB8;
    background-color: #002869;
    border-bottom: 5px solid#BEBDB8;
}
.flexbox-container-1 {
    width: 1300px;
    padding-left: 200px;
    text-align: left;
    display:flex;
    background-color: #BEBDB8;
    border: 3px solid black;
    border-bottom: 3px solid#BEBDB8;
    height: 1000px;




.flexbox-item   {
    display:block;
    border: 3px solid #333;
    background-color: white;
    justify-content: left;
    border-top: 5px solid #BEBDB8;

}

.flexbox-item-1{
    min-height: 200px;
    padding-top: 100px;
    padding-left: 20px;
    width: 300px;
    border: 5px solid gray;   
    text-align: left; 
    font-weight: 100;
    font-size: large;
    align-items: center ;
}

.flexbox-item-2{
    min-height: 200px;
    width: 700px;s
    padding-top: 30px;
    padding-left: 30px;
    border: 5px solid gray; 
    background-color: white;
}


.flexbox-container-2    {
    display:flex; margin-bottom:10px;
    padding:10px;
    justify-content: center;
    background-color: #BEBDB8;
    border: 3px solid black;
    border-top: 3px solid #BEBDB8;
    height: 200px;

}
.flexbox-icecream   {
    width: 1500px;
    justify-content: center;
    margin:10px;
    background-color: #BEBDB8;
    
    
}


